

<div class="sidebar-noneoverflow" data-spy="scroll" data-target="#navSection" data-offset="140">
    
   
    
<app-sumup *ngIf="sum" [data]="data"></app-sumup>

<div  *ngIf="!sum">

  

    <div class="header-container" >
        <style>
            .ranim{
                text-transform: lowercase;
            }       
          </style>

        <style>
            @import url("/plugins/jquery-step/jquery.steps.css");
            @import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
            @import url("/assets/bootstrap/css/bootstrap.min.css");
            @import url("/assets/css/forms/bootstrap-form.css");
            @import url("/assets/css/scrollspyNav.css");
            @import url("/plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css");
            @import url("/assets/css/plugins.css");
            @import url("/plugins/bootstrap-select/bootstrap-select.min.css");

            @import url("/plugins/select2/select2.min.css");
            @import url("/plugins/file-upload/file-upload-with-preview.min.css");
            @import url("https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css");
            @import url("/assets/css/forms/theme-checkbox-radio.css");
            @import url("/assets/css/tables/table-basic.css");
            @import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css");
            @import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
        </style>
        <header class="header navbar navbar-expand-sm">

            <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

            <div class="nav-logo align-self-center">
                <a class="navbar-brand" href="/"><img alt="logo" src="/assets/img/logo.jpg"> <span class="navbar-brand-name">KHOL - CONFIGURATEUR DE CHAISES</span></a>
            </div>

            <ul class="navbar-item flex-row mr-auto">
                <li class="nav-item align-self-center search-animated">
                    <form class="form-inline search-full form-inline search" role="search">
                        <div class="search-bar">
                            <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Recherche...">
                        </div>
                    </form>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search toggle-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                </li>
            </ul>

            <ul class="navbar-item flex-row nav-dropdowns">
                <li class="nav-item dropdown language-dropdown more-dropdown">
                    <div class="dropdown custom-dropdown-icon">
                        <a class="dropdown-toggle btn" href="#" role="button" id="customDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/img/fr.png" class="flag-width" alt="flag"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>

                        <div class="dropdown-menu dropdown-menu-right animated fadeInUp" aria-labelledby="customDropdown">
                            <a class="dropdown-item" data-img-value="fr" data-value="fr" href="javascript:void(0);"><img src="assets/img/fr.png" class="flag-width" alt="flag"> French</a>
                            <a class="dropdown-item" data-img-value="de" data-value="de" href="javascript:void(0);"><img src="assets/img/de.png" class="flag-width" alt="flag"> German</a>
                            <a class="dropdown-item" data-img-value="jp" data-value="jp" href="javascript:void(0);"><img src="assets/img/jp.png" class="flag-width" alt="flag"> Japanese</a>
                            <a class="dropdown-item" data-img-value="ca" data-value="en" href="javascript:void(0);"><img src="assets/img/ca.png" class="flag-width" alt="flag"> English</a>
                        </div>
                    </div>
                </li>
            

                <li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="user-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="media">
                            <img src="/assets/img/90x90.jpg" class="img-fluid" alt="admin-profile">
                            <div class="media-body align-self-center">
                                <h6><span>Salut,</span> Asma</h6>
                            </div>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </a>
                    <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="user-profile-dropdown">
                        <div class="">
                            <div class="dropdown-item">
                                <a class="" href="user_profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Mon Profile</a>
                            </div>
                            <div class="dropdown-item">
                                <a class="" href="auth_login.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Déconnexion</a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            

            <div class="container">
                <div class="container">

                    <div id="navSection" data-spy="affix" class="nav sidenav">
                        <div class="sidenav-content">
                            <a href="#tableSimple" class="active nav-link">Informations personnelles</a>
                            <a href="#tableDark" class="nav-link">Fiche de renseignement</a>
                            <a href="#tableStriped" class="nav-link">Descriptif de vos Douleurs</a>                           
                            <a href="#tableCaption" class="nav-link">Localisation des douleurs</a>
							<a href="#tableHover" class="nav-link">Qualité de mousse</a>
                            <a href="#confirmation" class="nav-link">Confirmation</a>                            
                        </div>
                    </div>

                    <div class="row layout-top-spacing">
                        <div id="tableSimple" class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Informations personnelles</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                   

                                    <form id="form1">
                                        <div class="form-row">
                                            <div class="col-md-6 mb-4">
                                                <label for="validationDefault03">Nom</label>
                                                <input type="text" class="form-control" id="validationDefault03" placeholder="Nom" required name="name" [(ngModel)]="infop.last_name">
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label for="validationDefault05">Prénom</label>
                                                <input type="text" class="form-control" id="validationDefault05" placeholder="Prénom" required [(ngModel)]="infop.first_name" name="prenom">
                                            </div>
                                         </div>  
                                        <div class="form-row">
                                            <div class="col-md-12 mb-4">
                                                <label for="validationDefault01">Nom de la societé</label>
                                                <input type="text" class="form-control" id="validationDefault01" placeholder="Nom de la societé"  required [(ngModel)]="infop.company" name="company">
                                            </div>
                                            <div class="col-md-12 mb-4">
                                                <label for="validationDefault02">Adresse</label>
                                                <input type="text" class="form-control" id="validationDefault02" placeholder="Adresse"  required [(ngModel)]="infop.address" name="add">
                                            </div>
                                           
                                        </div>
                                        
                                         <div class="form-row">
                                            <div class="col-md-6 mb-4">
                                                <label for="validationDefault04">Code postal</label>
                                                <input type="text" class="form-control" id="validationDefault04" placeholder="Code postal" required [(ngModel)]="infop.postcode" name="code">
                                            </div>
                                            
                                            <div class="col-md-6 mb-4">
                                                <label for="validationDefault05">Ville</label>
                                                <input type="text" class="form-control" id="validationDefault05" placeholder="Ville" required [(ngModel)]="infop.city" name="city">
                                            </div>
                                            
                                           
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 mb-4">
                                                <label for="validationDefault05">Age</label>
                                                <input type="text" class="form-control" id="validationDefault05" placeholder="Age" required [(ngModel)]="infop.age" name="age">
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <label for="tel">Téléphone</label>
                                                <input type="text" class="form-control" id="tel" placeholder="Tél" required [(ngModel)]="infop.phone" name="pone">
                                            </div>
                                        </div>
                                           
                                        <div class="form-row">   
                                            <div class="col-md-12 mb-4">
                                                <label for="email">Email</label>
                                                <input data-role="input, input-mask"  type="text" class="form-control" id="email" placeholder="Email" required [(ngModel)]="infop.email" name="email">
                                            </div>
                                        </div>
                                        
                                       
                                      <!-- <button class="btn btn-primary mt-3" type="submit">Sauvegarder</button> -->
                                    </form>  

                                </div>
                            </div>
                        </div>
						
                            <div id="tableDark" class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Fiche de renseignement</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content widget-content-area">
                                    <div class="container">
                                     
                                        <form id="form4">

						
                                            <div class="form-row align-items-right justify-content-right">
                                                    <div class="col-md-6 mb-6">
                                                        <label for="hEmail" class="col-xl-6 col-sm-3 col-sm-2 col-form-label">Hauteur</label>
                                                        <div class="col-xl-10">
                                                            <input id="demo6" type="text" [(ngModel)]="infoR.height" name="demo6" class="form-control">
                                                        </div>	
                                                    </div>													
                                                                                                                                            
                                                    <div class="col-md-6 mb-6">
                                                        <label for="hPassword" class="col-xl-6 col-sm-3 col-sm-2 col-form-label">KG</label>
                                                        <div class="col-xl-10">
                                                            <input id="demo6" type="text" [(ngModel)]="infoR.weight" name="demo6" class="form-control">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="col-md-6 mb-6">
                                                        <label for="hPassword" class="col-xl-6 col-sm-3 col-sm-2 col-form-label" style="white-space: nowrap;">Taille de pantalon</label>
                                                        <div class="col-xl-10">
                                                        <input id="demo6" type="text" [(ngModel)]="infoR.size" name="demo6" class="form-control">
                                                        </div>
                                                    </div>
                        
                                                    <div class="col-md-6 mb-6">
                                                        <label for="hPassword" class="col-xl-6 col-sm-3 col-sm-4 col-form-label" style="white-space: nowrap;">Hauteur d'assise de travail</label>
                                                        <div class="col-xl-10">
                                                            <input id="demo6" type="text" [(ngModel)]="infoR.sizew" name="demo6" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 mb-6" hidden>
                                                        <label for="hPassword" class="col-xl-6 col-sm-3 col-sm-4 col-form-label">Age</label>
                                                        <div class="col-xl-10">
                                                            <input id="demo6" type="text" [(ngModel)]="infoR.age" name="demo6" class="form-control">
                                                        </div>
                                                    </div>																									
                        
                                            </div>	
                                        </form>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>						
                        
                        
                    
                        <div id="tableStriped" class="col-lg-12 col-12 layout-spacing"  >
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Descriptif de vos Douleurs</h4>
                                        </div>                 
                                    </div>
                                    
                                </div>
                                <div class="widget-content widget-content-area" >
                                    <form id="form3">     
                                        <div class="row">
										
										<div class="widget-content widget-content-area">
                                            <p class="mb-4">Sélectionnez <code>toutes les douleurs</code> quelque soit le degré</p>

                                            <div class="row">

                                                <div class="col-md-6 col-6">

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text">
                                                          <input type="checkbox" class="new-control-input"  [(ngModel)]="checkbox.lombalgie" name="lombal">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Lombalgie</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-primary">
                                                          <input type="checkbox" class="new-control-input"  [(ngModel)]="checkbox.nevralgiesPudendalesPerineales" name="Nevralgies">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Nevralgies Pudendales Perineales</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-success">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.coccygodynieEndometriose" name="Coccygodynie">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Coccygodynie Endometriose</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-info">
                                                          <input type="checkbox" class="new-control-input"  [(ngModel)]="checkbox.arthrodeseGenouxHanche " name="Arthrodese ">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Arthrodese Genoux Hanche</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-warning">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.cervicale" name="Arthodesed ">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Arthodese Cervicale</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-danger">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.arthodesedlombaire" name="ArthodesedLombaire ">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Arthrodese Lombaire</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-secondary">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.FractureDuBassin" name="FractureDuBassin">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Fracture Du Bassin</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-dark">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.Discopathie" name="Discopathie">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Discopathie</span>
                                                        </label>
                                                    </div>

                                                </div>

                                                <div class="col-md-6 col-6">
                                                    
                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-default">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.ProtheseJambes" name="ProtheseDeLaJambes">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Prothese De La Jambes</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-primary">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.PersonneLarge" name="PersonneLarge">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Personne Large</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-success">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.RegionSacrum" name="Pexrso">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Region Sacrum</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-info">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.SciatiqueEtCruralgie" name="Pexrskjo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Sciatique Et Cruralgie</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-warning">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.ProtheseDeGenoux" name="Pe45xrscxqkjo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Prothese De Genoux</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-danger">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.RegionSacroIliacques" name="Pe45xrsxxkjo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Region Sacro Iliacques</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-secondary">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.RegionCoxoFemorale" name="Pe59+8+sxxkjo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Region Coxo Femorale</span>
                                                        </label>
                                                    </div>

                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-dark">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.RegionScolioseEtCyphose" name="Pe59+8+sxx5jo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Region Scoliose Et Cyphose</span>
                                                        </label>
                                                    </div>
													
                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-dark">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.RegionQueueDeCheval" name="Pe59+222ww8+sxxkjo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Region Queue De Cheval</span>
                                                        </label>
                                                    </div>
													                                                    <div class="n-chk">
                                                        <label class="new-control new-checkbox new-checkbox-rounded new-checkbox-text checkbox-outline-dark">
                                                          <input type="checkbox" class="new-control-input" [(ngModel)]="checkbox.PersonneFine" name="P4www8+sxxkjo">
                                                          <span class="new-control-indicator"></span><span class="new-chk-content">Personne Fine</span>
                                                        </label>
                                                    </div>
													

                                                </div>

                                            </div>

                                        </div>

										
                                            
                                        </div>    
            
                                                               
                                    </form>
                                    
                                </div>
                            </div> 
                        </div>  
                        
                        

                        

                        <div id="tableCaption" class="col-lg-12 col-12 layout-spacing">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-6 col-sm-12 col-12" >
                                           
                                            <h4>Localisation de douleurs</h4>
                                            <a role="button" id="redpain">
                                                <i class="fa fa-times fa-3x" aria-hidden="true" style="color: red;"></i>
                                                Douleurs brulures
                                     
                                               </a>
                                                <br>
                                               <a role="button" id="blackpain">
                                                   <i class="fa fa-times fa-3x " style="color: black;"aria-hidden="true"></i>
                                                   Douleurs coups de poignard
                                              
                                                </a>
                                                <div style="text-align: center; margin-left: 10em;">
                                                    <canvas id="pain"></canvas>

                                                </div>

                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                                                
 
<div id="tableHover" class="col-lg-12 col-12 layout-spacing" >
    <div class="statbox widget box box-shadow">
        <div class="widget-header">
            <div class="row">
                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                    <h4>Qualité de mousse</h4>
                </div> 
            </div>    
                <div class="widget-content widget-content-area">
                    <div class="col-md-8 col-8">
                        <label for="validationDefault01">Douleurs pour l'assise</label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList"
                    [(ngModel)]="selectedItems"
                    (onSelect)="onItemSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                    <div class="col-md-8 col-8">
                        <label for="validationDefault01">                    Mousse pour l'assise
                        </label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList1"
                    [(ngModel)]="selectedItems1"
                    (onSelect)="onItemSelect1($event)"
                    (onSelectAll)="onSelectAll1($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
        <div class="col-md-8 col-8">
                        <label for="validationDefault02">Mousse pour des dossiers</label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList2"
                    [(ngModel)]="selectedItems2"
                    (onSelect)="onItemSelect2($event)"
                    (onSelectAll)="onSelectAll2($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                   
                    <div class="col-md-8 col-8">
                        <label for="validationDefault02">                    Soutien Lombaire
                        </label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList6"
                    [(ngModel)]="selectedItems6"
                    (onSelect)="onItemSelect6($event)"
                    (onSelectAll)="onSelectAll6($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                   
                   
                    <div class="col-md-8 col-8">
                        <label for="validationDefault02">Epaule tombante</label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList4"
                    [(ngModel)]="selectedItems4"
                    (onSelect)="onItemSelect4($event)"
                    (onSelectAll)="onSelectAll4($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                   
                    <div class="col-md-8 col-8">
                        <label for="validationDefault02">Soutien Omoplate</label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList3"
                    [(ngModel)]="selectedItems3"
                    (onSelect)="onItemSelect3($event)"
                    (onSelectAll)="onSelectAll3($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                   

                    
                    <div class="col-md-8 col-8">
                        <label for="validationDefault02">Appui Nuque</label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList5"
                    [(ngModel)]="selectedItems5"
                    (onSelect)="onItemSelect5($event)"
                    (onSelectAll)="onSelectAll5($event)"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                   
                   
                    <div class="col-md-8 col-8">
                        <label for="validationDefault02">                    Choix des revêtements
                        </label>
                                <div class="widget-content widget-content-area">
                                   
                    <ng-multiselect-dropdown
                    [placeholder]="'choix de qualité de mousse'"
                    [settings]="dropdownSettings"
                    [data]="dropdownList7"
                    [(ngModel)]="selectedItems7"
                    (onSelect)="onItemSelect7($event)"
                    (onSelectAll)="onSelectAll7($event)"
                    style="color: brown;"
                  >
                  </ng-multiselect-dropdown>
                                    
                                </div>
                    </div>
                   
                    
                  </div>                
                </div>
        
        
 
    </div>
</div> 

                        
                        <div id="confirmation" class="col-lg-12 col-12 layout-spacing" style="text-align: center;">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4>Confirmation</h4>

                                        </div>          
                                    </div>
                                </div>
								
								
                                <div class="widget-content widget-content-area">
                                    <input class="btn btn-secondary mb-4 mr-2" value="valider" type="submit"(click)="info(sum)">
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                </div>

        <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p >Copyright © 2021 <a target="_blank" href="https://data-era.co">DATAERA</a>, Tous les droits sont réservés</p>
                </div>
                <div class="footer-section f-section-2">
                    <p >Développé avec <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
        </div>


</div>


</div>
