<style>
    @import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
    @import url("/assets/bootstrap/css/bootstrap.min.css");
    @import url("/assets/css/plugins.css");
    @import url("/assets/css/authentication/form-2.css");
    @import url("/assets/css/forms/theme-checkbox-radio.css");
    @import url("/assets/css/forms/switches.css");
</style>

    <div class="form" *ngIf="isauth">
    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 >S'inscrire</h1>
                        <p >Connectez-vous à votre compte pour continuer.</p>
                        
                        <form class="text-left">
                            <div class="form">

                                <div id="username-field" class="field-wrapper input">
                                    <label for="username">NOM D'UTILISATEUR</label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="username" name="username" type="text" class="form-control" placeholder="e.g user_name"[(ngModel)]="data.email">
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">MOT DE PASSE</label>
                                        <a (click)="recoverpwd()" role="button" class="forgot-pass-link" target="_blank">Mot de passe oublié?</a>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="MotDePAsse" [(ngModel)]="data.password">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </div>
                                <div class="d-sm-flex justify-content-center">
									<div class="row">
										<div class="col-4 d-flex justify-content-center text-center">
												<div class="field-wrapper">
													<a (click)="login(isauth)" class="btn btn-primary center">Connexion</a>
												</div>
										</div>
									</div>
                                </div>

                                <div class="division">
                                      <span>OU</span>
                                </div>

                                <div class="social">
                                    <a href="javascript:void(0);" class="btn social-fb">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg> 
                                        <span class="brand-name">Facebook</span>
                                    </a>
                                  
                                </div>

                                <p class="signup-link">Non enregistré ? <a role="button" (click)="register(regist)">Créer un compte</a></p>

                            </div>
                        </form>
                       
                        

                    </div>                    
                </div>
            </div>
        </div>
    </div>
   </div> 
    <app-password-recovery *ngIf="!isauth"></app-password-recovery>
  
