

 
<app-login *ngIf="isauth==false" (authEvent)="login($event)" (registerEvent)="registerfromlogin($event)"></app-login >

<app-content *ngIf="isauth && register==false" (sumUpevent)="sumup($event)" [user]="user"></app-content>

<app-register (loginEvent)="loginfromregister($event)" (registerEvent)="regist($event)" *ngIf="register"></app-register>