<header class="header navbar navbar-expand-sm">

    <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg></a>

    <div class="nav-logo align-self-center">
        <a class="navbar-brand" href="/"><img alt="logo" src="/assets/img/logo.jpg"> <span class="navbar-brand-name">KHOL - CONFIGURATEUR DE CHAISES</span></a>
    </div>

    <ul class="navbar-item flex-row mr-auto">
        <li class="nav-item align-self-center search-animated">
            <form class="form-inline search-full form-inline search" role="search">
                <div class="search-bar">
                    <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Recherche...">
                </div>
            </form>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search toggle-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </li>
    </ul>

    <ul class="navbar-item flex-row nav-dropdowns">
        <li class="nav-item dropdown language-dropdown more-dropdown">
            <div class="dropdown custom-dropdown-icon">
                <a class="dropdown-toggle btn" href="#" role="button" id="customDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/img/fr.png" class="flag-width" alt="flag"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></a>

                <div class="dropdown-menu dropdown-menu-right animated fadeInUp" aria-labelledby="customDropdown">
                    <a class="dropdown-item" data-img-value="fr" data-value="fr" href="javascript:void(0);"><img src="/assets/img/fr.png" class="flag-width" alt="flag"> French</a>
                    <a class="dropdown-item" data-img-value="de" data-value="de" href="javascript:void(0);"><img src="/assets/img/de.png" class="flag-width" alt="flag"> German</a>
                    <a class="dropdown-item" data-img-value="jp" data-value="jp" href="javascript:void(0);"><img src="/assets/img/jp.png" class="flag-width" alt="flag"> Japanese</a>
                    <a class="dropdown-item" data-img-value="ca" data-value="en" href="javascript:void(0);"><img src="/assets/img/ca.png" class="flag-width" alt="flag"> English</a>
                </div>
            </div>
        </li>
    

        <li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
            <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="user-profile-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media">
                    <img src="/assets/img/90x90.jpg" class="img-fluid" alt="admin-profile">
                    <div class="media-body align-self-center">
                        <h6><span>Salut,</span> Asma</h6>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </a>
            <div class="dropdown-menu position-absolute animated fadeInUp" aria-labelledby="user-profile-dropdown">
                <div class="">
                    <div class="dropdown-item">
                        <a class="" href="user_profile.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg> Mon Profile</a>
                    </div>
                    <div class="dropdown-item">
                        <a class="" href="auth_login.html"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg> Déconnexion</a>
                    </div>
                </div>
            </div>

        </li>
    </ul>
</header>


   <div class="container" id="pdfTable" #pdfTable >
      
    
    <div id="headerWrapper">
        <div class="container-fluid">
            <div class="row">
               
                <div class="col-md-12 col-sm-12 col-12 text-center">
                    <h2 class="main-heading">Résumé</h2>
                </div>
            </div>
        </div>
    </div>

    <div id="privacyWrapper" class="">
        <div class="privacy-container">
            <div class="privacyContent">

                <div class="d-flex justify-content-between privacy-head">
                    <div class="privacyHeader">
                        <h1>Résumé de vos choix</h1>
                        <p>le {{date}} </p>
                    </div>

                    <div class="get-privacy-terms align-self-center">
                        <button class="btn btn-primary" (click)="downloadAsPDF()"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-printer"><polyline points="6 9 6 2 18 2 18 9"></polyline><path d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"></path><rect x="6" y="14" width="12" height="8"></rect></svg> Imprimer</button>
                    </div>

                </div>

                <div class="privacy-content-container">

                    <section>
                        <h5>Vos coordonnées</h5>
						
						<div class="table-responsive">
						

      <table class="table table-bordered">
  
        <thead>
  
          <tr>
            <th>Prénom</th>
            <th>Nom de la societé</th>
            <th>Adresse</th>
            <th>Code postal</th>
            <th>Ville</th>
            <th>Age</th>
            <th>Téléphone</th>
            <th>Email</th>
          </tr>
  
        </thead>
  
        <tbody>
  
         	<tr>
										<td>{{data.fname}}</td>
										<td>{{data.company}}</td>
										<td>{{data.address}}</td>
										<td>{{data.postcode}}</td>
										<td>{{data.city}}</td>
										<td>{{data.age}}</td>
										<td>{{data.phone}}</td>
										<td>{{data.email}}</td>
									
									</tr>
  
  
        </tbody>
  
      </table>
						</div>

						
                    </section>


                    <section>
                        
                        <h5>Fiche de renseignement</h5>
                       
                        <p>Hauteur : {{data.height}}</p>
						<p>KG : {{data.weight}}</p>
						<p>Taille de pantalon : {{data.size}}</p>
						<p>Hauteur d'assise de travail : {{data.sizew}}</p>
                    </section>

                    <section>

                        <h5>Descriptif de vos Douleurs</h5>
                       						<p> <span *ngIf="data.lombalgie">Lombalgie,</span>
                            <span *ngIf="data.nevralgiesPudendalesPerineales">Nevralgies Pudendales Perineales,</span>
                             <span *ngIf="data.coccygodynieEndometriose">Coccygodynie Endometriose,</span>
                             <span *ngIf="data.PersonneFine">Personne Fine,</span>
                             <span *ngIf="data.RegionQueueDeCheval">Region Queue DeCheval,</span>
                             <span *ngIf="data.RegionScolioseEtCyphose">Region Scoliose Et Cyphose,</span>
                             <span *ngIf="data.RegionCoxoFemorale">Region Coxo Femorale,</span>
                             <span *ngIf="data.RegionSacroIliacques">  Region Sacro Iliacques,</span>
                             <span *ngIf="data.ProtheseDeGenoux"> ProtheseDeGenoux,</span>
                             <span *ngIf="data.arthrodeseGenouxHanche">  Arthrodese Genoux Hanche,</span>
                             <span *ngIf="data.SciatiqueEtCruralgie">Sciatique Et Cruralgie,</span>
                             <span *ngIf="data.RegionSacrum"> Region Sacrum,</span>
                             <span *ngIf="data.PersonneLarge">  Personne Large,</span>
                             <span *ngIf="data.Cervicale"> 
                            cervicale,
                            </span>

                            <span *ngIf="data.ProtheseJambes"> 
                                Prothese Jambes,
                 </span>
                 <span *ngIf="data.arthodesedlombaire"> 
                    arthodese
                    lombaire ,    </span>

                    <span *ngIf="data.FractureDuBassin"> 

                        Fracture Du Bassin,              
                        </span>
                        <span *ngIf="data.Discopathie"> 

                            Discopathie 
                            </span>
                        </p>
				
                    </section>
                        
                    <section>
                        <h5>Localisation des douleurs</h5>
						<p>IMAGE Douleurs brulures, Douleurs coups de poignard</p>
                        <img src="{{data.url}}" alt="" width="100" height="100">
                        
                    </section>
					<section >
                        <h5>Qualité de mousse</h5>
                        <p>                        Mousse pour l'assise
                            : <span *ngFor="let item of data.tab[1]">{{item.item_text}}, </span></p>

						<p>Douleurs pour l'assise : <span *ngFor="let item of data.tab[0]">{{item.item_text}}, </span></p>
                        <p>						Soutien Omoplate
                            : <span *ngFor="let item of data.tab[3]">{{item.item_text}}, </span></p>

                        <p>Appui Nuque : <span *ngFor="let item of data.tab[5]">{{item.item_text}}, </span></p>
                        <p>Choix des revêtements : <span *ngFor="let item of data.tab[7]">{{item.item_text}}, </span></p>
                        <p>                        Epaule tombante
                            : <span *ngFor="let item of data.tab[4]">{{item.item_text}}, </span></p>



                               <p> Soutien Lombaire : <span *ngFor="let item of data.tab[6]">{{item.item_text}}, </span></p> 
                               <p>                                Mousse pour des dossiers               
                                : <span *ngFor="let item of data.tab[2]">{{item.item_text}}, </span></p> 

                               </section>

                </div>

            </div>
        </div>
    </div>
</div>
    <div id="miniFooterWrapper" class="">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="position-relative">
                        <div class="arrow text-center">
                            <p class="">Up</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 mx-auto col-lg-6 col-md-6 site-content-inner text-md-left text-center copyright align-self-center">
                            <p class="mt-md-0 mt-4 mb-0">2021 &copy; <a target="_blank" href="https://designreset.com/cork">Design Reset</a>.</p>
                        </div>
                        <div class="col-xl-5 mx-auto col-lg-6 col-md-6 site-content-inner text-md-right text-center align-self-center">
                            <p class="mb-0">1355 Market Street, Suit 900 San Francisco, CA 94103</p>
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
 