
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap" rel="stylesheet">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/authentication/form-2.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/forms/switches.css">

<div class="form">

    <div class="form-container outer">
        <div class="form-form">
            <div class="form-form-wrap">
                <div class="form-container">
                    <div class="form-content">

                        <h1 class="">Register</h1>
                        <p class="signup-link register">Already have an account? <a (click)="login(letmelogin)" role="button">Log in</a></p>
                        <form class="text-left">
                            <div class="form">
                                <div class="form-row">
                                    <div class="col-md-6 mb-4">
                                        <label for="validationDefault03">Nom</label>
                                        <input type="text" class="form-control" id="validationDefault03" placeholder="Nom" required name="name" [(ngModel)]="data.last_name">
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="validationDefault05">Prénom</label>
                                        <input type="text" class="form-control" id="validationDefault05" placeholder="Prénom" required [(ngModel)]="data.first_name" name="prenom">
                                    </div>
                                 </div>  
                                <div class="form-row">
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault01">Nom de la societé</label>
                                        <input type="text" class="form-control" id="validationDefault01" placeholder="Nom de la societé"  required [(ngModel)]="data.company" name="company">
                                    </div>
                                    <div class="col-md-12 mb-4">
                                        <label for="validationDefault02">Adresse</label>
                                        <input type="text" class="form-control" id="validationDefault02" placeholder="Adresse"  required [(ngModel)]="data.address" name="add">
                                    </div>
                                   
                                </div>
                                
                                 <div class="form-row">
                                    <div class="col-md-6 mb-4">
                                        <label for="validationDefault04">Code postal</label>
                                        <input type="text" class="form-control" id="validationDefault04" placeholder="Code postal" required [(ngModel)]="data.postcode" name="code">
                                    </div>
                                    
                                    <div class="col-md-6 mb-4">
                                        <label for="validationDefault05">Ville</label>
                                        <input type="text" class="form-control" id="validationDefault05" placeholder="Ville" required [(ngModel)]="data.city" name="city">
                                    </div>
                                    
                                   
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-4">
                                        <label for="validationDefault05">Age</label>
                                        <input type="number" class="form-control" id="validationDefault05" placeholder="Age" required [(ngModel)]="data.age" name="age">
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <label for="tel">Téléphone</label>
                                        <input type="text" class="form-control" id="tel" placeholder="Tél" required [(ngModel)]="data.phone" name="pone">
                                    </div>
                                </div>
                                   
                           
                                
                                <div id="username-field" class="field-wrapper input">
                                    <label for="username">Nom d'utilisaterur</label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    <input id="username" name="username" type="text" class="form-control" placeholder="Username" [(ngModel)]="data.username">
                                </div>

                               

                                <div id="email-field" class="field-wrapper input">
                                    <label for="email">EMAIL</label>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign register"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                    <input id="email" name="email" type="text" value="" class="form-control" placeholder="Email" [(ngModel)]="data.email">
                                </div>

                                <div id="password-field" class="field-wrapper input mb-2">
                                    <div class="d-flex justify-content-between">
                                        <label for="password">PASSWORD</label>
                                        <a href="auth_pass_recovery_boxed.html" class="forgot-pass-link" hidden>Forgot Password?</a>
                                    </div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" [(ngModel)]="data.passord">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" id="toggle-password" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                </div>

                                <div class="field-wrapper terms_condition">
                                    <div class="n-chk">
                                        <label class="new-control new-checkbox checkbox-primary">
                                          <input type="checkbox" class="new-control-input">
                                          <span class="new-control-indicator"></span><span>I agree to the <a href="javascript:void(0);">  terms and conditions </a></span>
                                        </label>
                                    </div>

                                </div>

                                <div class="d-sm-flex justify-content-between">
                                    <div class="field-wrapper">
                                        <button type="submit" class="btn btn-primary" value="" (click)="register(registered)">Get Started!</button>
                                    </div>
                                </div>

                                <div class="division">
                                    <span>OR</span>
                                </div>

                                <div class="social">
                                    <a href="javascript:void(0);" class="btn social-fb">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg> 
                                        <span class="brand-name">Facebook</span>
                                    </a>
                                   <a href="javascript:void(0);" class="btn social-github" hidden>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
                                        <span class="brand-name">Github</span>
                                    </a>
                                </div>

                            </div>
                        </form>

                    </div>                    
                </div>
            </div>
        </div>
    </div>


</div>
